body {
  background-color: rgb(7,40,65);
}

.main-wrapper {
  width: 70%;
  margin: auto;
  background-color: rgb(34,54,80);
  margin-top: -15px;
}

header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(35,52,195)), to(rgb(231,36,13)));
}

.header-title {
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 10px 0
}

.containar {
  display: flex;
  padding: 30px 0;
  justify-content: center;
}

.left {
  width: 500px;
  background-color: rgb(234,234,234);
  border-radius: 5px;
  padding: 10px 0 20px 10px;
  display: block;
  height: 100%;
  margin-left:100px;
 }	
  
.left-title {
  color: rgb(51,51,51);
  margin-left: 15px;
  font-size: 20px;
}

.error-message {
  margin-left: 15px;
  font-size: 14px;
  color: red;
}

input[type="text"],
select,
textarea {
  border: 2px solid #aaa;
  border-radius: 4px;
  margin-bottom: 5px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type="color"] {
    width: 40px;
    height: 40px;
    vertical-align: -3px;
    border: none;
}

.score {
  width: 100px;
  margin-left: -75px;
}

th {
  font-size: 14px;
  text-align: right;
  padding-right: 15px;
  color: rgb(51,51,51);
  font-family: mairyo;
}

.btn-wrapper {
  display: flex;
  width: 90%;
  margin:0 auto;
  justify-content: space-around;
  margin-top:15px;
}

.reset {
  background-color: red;
  border:1px solid red;
  border-bottom: 5px solid #800000;
}

.reset:hover {
  background: red;
  border-bottom: 2px solid #800000;
}

button {
  color: #000;
  background-color: rgb(0,119,0);
  border:1px solid rgb(0,119,0);
  border-bottom: 5px solid rgb(0,119,0);
  border-radius:5px;
  padding: 5px 10px;
  font-weight: bolder;
  font-size: 14px;
  width: 140px;
}

button:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
  cursor: pointer;
}

.d-button {
  background-color: #fff100;
  border:1px solid #fff100;
  border-bottom: 5px solid #ccc100;
}

.right {
  width: 35%;
  margin: auto;
}

.member{
  width: 400px;
  box-sizing: border-box;
  background-color: #242424;
  padding-bottom: 10px;
  margin: 0 auto;
}

  .member-card{
    display: flex;
    height: 80px;
    line-height: 20px;
  }
  
  .member-card .number{
    padding:0 10px;
    font-size: 40px;
    font-family: sans-serif;
    position: relative;  
    color: #FFFF00;
  }
  
:root{
  --sample: #FFFF00;
}
#num1,
#num2,
#name1,
#name2 {
  color: var(--sample);
}
    
  .member-card .number::after {
    content:"";
    display:inline-block;
    width: 1px;
    height: 55px;
    background-color: #fff;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    right: -5px;
  }
  
  .name{
    line-height: 10px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-size: 16px;
  }
  
  .first-name{
    font-weight: initial;
    color: #FFFF00;
  }
  
  .last-name {
    color: #fff;
    font-weight: bolder;
  }
  
  .member-image img{
    width:100%;
    max-height: 400px;
    position: relative;
   
    overflow: hidden;
    object-fit: cover;
  }
  
  .profile{
    position:absolute;
    top:10%;
    left: 0;
    width: 100%;   
  }
  
  .member-image{
    position:relative;
    height: auto;
  }
  
  .member-image p{
    position: absolute;
    top: -3px;
    left: 13px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
  }

  .chart {
    margin: 0 auto;
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 30px;
  }

  .text {
    border-top: 1px solid;
    width: 90%;
    margin: 0 auto;
  }

  p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    white-space: nowrap;
  }

  h3 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(0,119,0);
    color: #fff;
    padding: 5px 0;
    width: 70px;
    border-radius: 5px;
    margin: 0 auto;
  }

  .topix {
    font-weight: bold;
    display: inline-block;
  }

  .comment {
    white-space: pre-wrap;
    font-size: 15px;
    margin-top: -5px;
    padding-bottom: 10px;
    font-family: "Noto Sans Japanese", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
  }
  
  .team-color {
    margin-left: 50px;
  }