@charset "UTF-8";

@media(max-width:780px){
.main-wrapper {
  width: 95%;
}

.containar {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center ;
}

.member {
  margin-top: 30px;
}

.left {
  width: 85%;
  margin: 0 auto;
}

.right {
  width: 85%;
}

.member {
  width: 500px;
}

.chart {
  width: 400px;
}
}
	